.btnFinalizar{

background:#b30000;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;

}

.barraProtocolo{

margin-top:15px;
padding:12px;
background:#f1f1f1;
border-radius:6px;
text-align:center;
font-weight:bold;

}

.btnDownload{

margin-top:10px;
padding:12px;
background:#333;
color:white;
border:none;
border-radius:6px;
width:100%;
max-width:250px;
cursor:pointer;

}

.barraConsulta{

margin-top:15px;
padding:12px;
background:#e9e9e9;
border-radius:6px;
text-align:center;
font-weight:bold;

}

.hidden{
display:none;
}
